In [2]:
import pandas as pd
df=pd.read_csv('/home/miguel/msc-tesis/ssl_satellital/exp_34/logs/exp_34_time.csv')
df

    kfold  iteracion arquitectura  training_time
0       0          0    ResNet152    2755.146002
1       0          0  InceptionV3    2571.110086
2       0          0  InceptionV4    3071.184477
3       0          1    ResNet152    2564.313374
4       0          1  InceptionV3    3999.628956
5       0          1  InceptionV4    2479.699559
6       0          2    ResNet152    4279.892226
7       0          2  InceptionV3    3426.110486
8       0          2  InceptionV4    5842.669937
9       0          3    ResNet152    4057.222974
10      0          3  InceptionV3    4818.852247
11      0          3  InceptionV4    4240.646021
12      0          4    ResNet152    5421.027822
13      0          4  InceptionV3    4907.152380
14      0          4  InceptionV4    5637.446060
15      1          0    ResNet152    2234.064893
16      1          0  InceptionV3    2494.152010
17      1          0  InceptionV4    2631.387654
18      1          1    ResNet152    3776.084986
19      1          1  InceptionV3    2984.378751
20      1          1  InceptionV4    2218.163089
21      1          2    ResNet152    3352.890440
22      1          2  InceptionV3    3624.307706
23      1          2  InceptionV4    3165.290124
24      1          3    ResNet152    5080.989136
25      1          3  InceptionV3    4238.860615
26      1          3  InceptionV4    4554.859317
27      1          4    ResNet152    5396.565089
28      1          4  InceptionV3    4572.092996
29      1          4  InceptionV4    3351.165622
30      2          0    ResNet152    2813.376597
31      2          0  InceptionV3    2648.199208
32      2          0  InceptionV4    2006.535440
33      2          1    ResNet152    4366.481477
34      2          1  InceptionV3    3309.880147
35      2          1  InceptionV4    3123.958333
36      2          2    ResNet152    3062.602138
37      2          2  InceptionV3    3555.161878
38      2          2  InceptionV4    3227.209678
39      2          3    ResNet152    4388.632063
40      2          3  InceptionV3    4153.952790

In [5]:
import numpy as np

table = pd.pivot_table(df, values=['training_time'], index=['arquitectura'],
                    columns=['iteracion'], aggfunc=[np.mean])

round(table,2)

                      mean
             training_time
iteracion                0        1        2        3        4
arquitectura
InceptionV3        2571.15  3431.30  3535.19  4403.89  4739.62
InceptionV4        2569.70  2607.27  4078.39  4397.75  4494.31
ResNet152          2600.86  3568.96  3565.13  4508.95  5408.80

In [4]:
import numpy as np

table = pd.pivot_table(df, values=['training_time'], index=['arquitectura'],
                    columns=['iteracion'], aggfunc=[np.std])

round(table,2)

                       std
             training_time
iteracion                0           1            2           3            4
arquitectura
InceptionV3      77.023608  518.400996   100.596177  361.868051   236.922763
InceptionV4     534.998303  466.178742  1528.224954  222.182352  1616.644401
ResNet152       318.987559  918.764417   635.792782  522.380362    17.297764